A {
	COLOR: #666600
}
A:hover {
	BORDER-BOTTOM: 1px dotted; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; COLOR: #ff6600; BORDER-LEFT-WIDTH: 1px; TEXT-DECORATION: none
}
TABLE {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; TOP: 15px; LEFT: 10px
}
TD {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
HTML {
	WIDTH: 97%; FONT-FAMILY: 宋体; HEIGHT: 3065px; FONT-SIZE: 12px
}
BODY {
	WIDTH: 97%; FONT-FAMILY: 宋体; HEIGHT: 3065px; FONT-SIZE: 12px
}
DIV {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.tab1 {
	BORDER-BOTTOM: #ff0000 thin dotted; BORDER-LEFT: #6699ff thin dotted; WIDTH: 337px; BORDER-TOP: #00cc66 thin dotted; BORDER-RIGHT: #0099cc thin dotted
}
.DIVScroll {
	SCROLLBAR-ARROW-COLOR: #919192; TEXT-ALIGN: left; SCROLLBAR-FACE-COLOR: #ffffff; PADDING-BOTTOM: 0px; LINE-HEIGHT: 100%; OVERFLOW-Y: auto; PADDING-LEFT: 10px; WIDTH: 95%; PADDING-RIGHT: 10px; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; LETTER-SPACING: 1pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; COLOR: blue; SCROLLBAR-SHADOW-COLOR: #919192; FONT-SIZE: 11pt; OVERFLOW: auto; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #ffffff; PADDING-TOP: 0px
}
.TeacherTopBG {
	BACKGROUND-IMAGE: url(../../Images/TeacherTop.gif); BACKGROUND-COLOR: white; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: no-repeat
}
.TeacherRightBG {
	BACKGROUND-IMAGE: url(../../Images/TeacherRight.gif); BACKGROUND-COLOR: white; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: no-repeat
}
.StudentRightBG {
	BACKGROUND-IMAGE: url(../../Images/bj1.gif); BACKGROUND-COLOR: white; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: repeat
}
