DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H1 {
	MARGIN: 0px auto
}
H2 {
	MARGIN: 0px auto
}
H3 {
	MARGIN: 0px auto
}
H4 {
	MARGIN: 0px auto
}
H5 {
	MARGIN: 0px auto
}
H6 {
	MARGIN: 0px auto
}
H1 {
	FONT-SIZE: 28px
}
H2 {
	FONT-SIZE: 22px
}
H3 {
	FONT-SIZE: 16px
}
H4 {
	FONT-SIZE: 14px
}
H5 {
	FONT-SIZE: 14px
}
H6 {
	FONT-SIZE: 14px
}
.header {
	MARGIN: 0px auto; BACKGROUND: url(sprite.png) repeat-x 0px 50px
}
.top {
	MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 50px
}
.mainmenu {
	MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 55px
}
.navi {
	Z-INDEX: 300; POSITION: relative; WIDTH: 960px; FLOAT: left
}
.navi LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; TEXT-TRANSFORM: capitalize; PADDING-LEFT: 6px; PADDING-RIGHT: 3px; FONT-FAMILY: "Microsoft Yahei"; BACKGROUND: url(images/sprite.png) no-repeat 0px -68px; FLOAT: left; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 15px; PADDING-TOP: 0px
}
.navi LI.nl {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.navi LI A:link {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #fff; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.navi LI A:visited {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #fff; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.navi LI A:hover {
	BACKGROUND: url(images/sprite.png) repeat-x 0px -108px; COLOR: #09386c
}
.navi LI.current-menu-item A:link {
	BACKGROUND: url(images/sprite.png) repeat-x 0px -108px; COLOR: #09386c
}
.navi LI.current-menu-item A:visited {
	BACKGROUND: url(images/sprite.png) repeat-x 0px -108px; COLOR: #09386c
}
.navi LI.current-menu-item A:hover {
	TEXT-DECORATION: underline
}
.navi LI UL LI A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.navi LI UL LI A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.navi LI UL LI A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.navi LI:hover A:link {
	BACKGROUND: url(images/sprite.png) repeat-x 0px -108px; COLOR: #09386c
}
.navi LI:hover A:visited {
	BACKGROUND: url(images/sprite.png) repeat-x 0px -108px; COLOR: #09386c
}
.navi LI:hover A:hover {
	BACKGROUND: url(images/sprite.png) repeat-x 0px -108px; COLOR: #09386c
}
.navi LI:hover UL LI A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333; TEXT-DECORATION: none
}
.navi LI:hover UL LI A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333; TEXT-DECORATION: none
}
.navi LI:hover UL LI A:hover {
	BACKGROUND-COLOR: #0c5aae; COLOR: #fff; TEXT-DECORATION: none
}
.navi LI.current-menu-item UL LI A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333; TEXT-DECORATION: none
}
.navi LI.current-menu-item UL LI A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333; TEXT-DECORATION: none
}
.navi LI.current-menu-item UL LI A:hover {
	BACKGROUND-COLOR: #0c5aae; COLOR: #fff; TEXT-DECORATION: none
}
.navi LI {
	POSITION: relative
}
.navi LI UL {
	Z-INDEX: 300; POSITION: absolute; BORDER-LEFT: #d5d5d5 1px solid; BACKGROUND-COLOR: #e5e5e5; WIDTH: 176px; DISPLAY: none; TOP: 40px; BORDER-RIGHT: #d5d5d5 1px solid; LEFT: 5px
}
.navi LI UL LI {
	BORDER-BOTTOM: #f0f0f0 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; TEXT-INDENT: 5px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 176px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 33px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.navi LI UL LI A:link {
	BORDER-BOTTOM: #d5d5d5 1px solid; PADDING-LEFT: 6px; COLOR: #333; TEXT-DECORATION: none
}
.navi LI UL LI A:visited {
	BORDER-BOTTOM: #d5d5d5 1px solid; PADDING-LEFT: 6px; COLOR: #333; TEXT-DECORATION: none
}
.navi LI UL LI A:hover {
	BORDER-BOTTOM: #d5d5d5 1px solid; BACKGROUND-COLOR: #03c; COLOR: #fff; TEXT-DECORATION: none
}
